<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href={% static 'css/chota.min.css' %}>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Запись</h1>
        {% block content %}
        {% endblock %}
    </div>
    {% include 'footer.html' %}
    <script src="{% static 'js/dark_mode.js' %}"></script>
</body>
</html>
